@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #eb4a4a;
$secondary: #808dad;
$dark: #0e1630;
$light: #ffffff;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: $dark;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: #19203b;
}
.header {
  width: 100%;
}
.header__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__wrapper__logo {
  font-size: 25px;
  font-weight: 500;
  color: $light;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5em;
}
.header__wrapper__logo span {
  font-size: 40px;
  font-weight: bold;
  color: $primary;
  margin-bottom: -0.1em;
}
.header__wrapper__menu {
  transition: 300ms ease-in-out;
  display: none;
  align-items: center;
  justify-content: center;
}
.header__wrapper__menu__btn {
  transition: 300ms ease-in-out;
  width: 42px;
  height: 40px;
  padding: 0em;
  background-color: $dark;
  border-radius: 5px;
  border: 1px solid $primary;
  color: $primary;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__wrapper__menu__btn:hover {
  background-color: $primary;
  color: $light;
}
.header__wrapper__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrapper__nav__link {
  padding: 0.5em 1.5em;
  border-radius: 5px;
  position: relative;
}
.header__wrapper__nav__link__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.header__wrapper__nav__link__content {
  font-size: 1.1rem;
  color: $secondary;
  position: relative;
}
.header__wrapper__nav__link__content::after {
  content: '';
  position: absolute;
  top: 1.4rem;
  left: 0em;
  width: 0px;
  height: 2px;
  border-radius: 50px;
  background-color: $primary;
}
.header__wrapper__nav__link__input:hover
  ~ .header__wrapper__nav__link__content {
  transition: 300ms ease-in-out;
  color: $primary;
}
.header__wrapper__nav__link__input:checked
  ~ .header__wrapper__nav__link__content {
  transition: 300ms ease-in-out;
  font-weight: 500;
  color: $primary;
}
.header__wrapper__nav__link__input:checked
  ~ .header__wrapper__nav__link__content::after {
  transition: 300ms ease-in-out;
  width: 20px;
}
.header__wrapper__nav__bar {
  width: 2.5px;
  height: 20px;
  background-color: $secondary;
  border-radius: 50px;
  margin: 0em 1.5em;
}
.header__wrapper__nav__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary;
}
.header__wrapper__nav__phone svg {
  margin: 0em 1em;
}
.header__wrapper__nav__phone span {
  font-size: 1.1rem;
  color: $primary;
}
.footer {
  width: 100%;
}
.footer__wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 1em 2em;
  margin: 0em auto;
  display: flex;
  flex-direction: column;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper__nav {
  display: flex;
  align-items: center;
}
.footer__wrapper__nav__link {
  font-size: 1rem;
  color: $secondary;
  text-decoration: none;
  margin-right: 2em;
}
.footer__wrapper__nav__link:hover {
  transition: 300ms;
  color: $primary;
}
.footer__wrapper__backtotop {
  width: 42px;
  height: 40px;
  color: $light;
  border-radius: 50px;
  border: 1px solid $primary;
  padding: 0em;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer__wrapper__backtotop:hover {
  transition: 300ms ease-in-out;
  background-color: $dark;
  color: $light;
  border-color: $dark;
}
.footer__bottom {
  padding-top: 1em;
  border-top: 1px solid #484e5e;
  width: 100%;
  max-width: 1000px;
  margin: 0em auto;
  margin-top: 1em;
  font-size: 1rem;
  color: $secondary;
  text-align: center;
}
.screen__header {
  width: 100%;
  max-width: 1440px;
  padding: 0em 1.5em;
  margin: 2em auto;
  margin-bottom: 5em;
  display: flex;
}
.screen__header__left {
  display: flex;
  flex-direction: column;
}
.screen__header__name {
  font-size: 50px;
  color: $light;
  font-weight: 500;
  margin-bottom: 0.2em;
}
.screen__header__breadcrum {
  font-size: 18px;
  color: $primary;
  display: flex;
  align-items: flex-end;
}
.screen__header__breadcrum__bar {
  width: 50px;
  height: 2px;
  background-color: $primary;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
.screen__header__right {
  flex: 1;
  height: 100px;
  display: flex;
  align-items: flex-end;
}
.screen__popup {
  position: absolute;
  top: 0px;
  z-index: 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen__popup__content {
  width: 100%;
  max-width: 400px;
  height: 250px;
  background-color: $dark;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 30px rgba(25, 32, 59, 0.7);
  border-radius: 10px;
  flex-direction: column;
}
.screen__popup__content__heading {
  margin-top: 1em;
  color: $secondary;
}
.portfolio__filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.contact__section {
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 0em 1.5em;
  margin: 0em auto;
  margin-bottom: 8em;
}
.contact__section__left,
.contact__section__right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact__section__left__sub__heading {
  color: $primary;
  display: flex;
  align-items: flex-end;
}
.contact__section__left__sub__heading__bar {
  width: 30px;
  height: 2px;
  background-color: $primary;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
.contact__section__left__heading {
  font-size: 25px;
  color: $light;
  font-weight: 500;
  margin: 0.8em 0em;
  margin-top: 0.5em;
}
.contact__section__left__info {
  font-size: 16px;
  color: $secondary;
  margin-bottom: 2em;
}
.contact__section__left__link {
  display: flex;
  align-items: center;
  margin: 0.8em 0em;
}
.contact__section__left__link__icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c2647;
  border-radius: 50px;
  margin-right: 1em;
  color: $primary;
}
.contact__section__left__link span {
  color: $secondary;
}
.contact__section__left__socials {
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.contact__section__left__socials__link {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary;
}
.contact__section__left__socials__link:hover {
  transition: 300ms ease-in-out;
  color: $primary;
}
.contact__section__right__label {
  color: $light;
  font-size: 14px;
  margin-bottom: 0.5em;
  margin-left: 0.1em;
}
.contact__section__right__input__box {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  background-color: #1c2647;
  border: 1px solid #1c2647;
  outline: none;
  padding: 0em 2em;
  margin-bottom: 1em;
  color: $light;
}
.contact__section__right__input__box:hover,
.contact__section__right__input__box:focus {
  border-color: $primary;
}

.contact__section__right__input__area {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  background-color: #1c2647;
  border: 1px solid #1c2647;
  padding: 1.5em 2em;
  margin-bottom: 1em;
  outline: none;
  color: $light;
}
.contact__section__right__input__area:hover,
.contact__section__right__input__area:focus {
  border-color: $primary;
}
.contact__section__right__btn {
  background-color: transparent;
  width: fit-content;
  border: 1px solid $primary;
  color: $primary;
  padding: 0.6em 1.7em;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.contact__section__right__btn:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
  color: $light;
}
.contact__section__right__input__error {
  border-color: red;
  color: red;
}
.portfolio__projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  padding: 0em 1em;
  padding-right: 0em;
  margin: 0em auto;
}
.project__card {
  width: 31%;
  background-color: #19203b;
  border-radius: 10px;
  margin-bottom: 2em;
  padding: 2em;
  margin-right: 2%;
  text-decoration: none;
  min-height: 400px;
}
.project__card__name {
  font-size: 22px;
  font-weight: bold;
  color: $primary;
  margin-bottom: 0.3em;
  text-transform: capitalize;
}
.project__card__description {
  font-size: 14px;
  color: $secondary;
  margin-bottom: 0.3em;
  line-height: 25px;
}
.project__card__languages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.project__card__languages__entry {
  margin-right: 1em;
  padding: 0.5em 1em;
  background-color: #0e1630;
  color: $secondary;
  font-size: 13px;
  margin-bottom: 0.8em;
  border-radius: 5px;
}
.project__card__image {
  width: 100%;
  border-radius: 8px;
  max-height: 200px;
}
.project__card:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(25, 32, 59, 0.7);
  background-color: #1c2647;
}
.porfolio__loadmore {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8em;
}
.project__section {
  width: 100%;
  max-width: 1440px;
  padding: 0em 1em;
  margin: 0em auto;
  margin-bottom: 8em;
  display: flex;
  justify-content: space-between;
}
.project__section__left {
  width: 40%;
}
.project__section__left__heading {
  font-size: 22px;
  color: $light;
  font-weight: 500;
  margin-bottom: 1em;
}
.project__section__left__info {
  font-size: 16px;
  color: $secondary;
  margin-bottom: 0.5em;
}
.project__section__left__bar {
  width: 100%;
  height: 2px;
  background-color: #19203b;
  border-radius: 50px;
  margin: 1.5em 0em;
}
.project__section__left__about {
  display: flex;
  color: $secondary;
  font-size: 15px;
}
.project__section__left__about span {
  color: $light;
  font-weight: 500;
  margin-bottom: 0.8em;
  margin-right: 1em;
}
.project__section__left__link {
  display: flex;
  justify-content: flex-end;
}
.project__section__left__link__entry {
  display: flex;
  align-items: center;
  color: $primary;
  text-decoration: none;
  margin-top: 5em;
}
.project__section__left__link__entry svg {
  margin-left: 1em;
}
.project__section__left__link__entry:hover svg {
  transition: 300ms ease-in-out;
  margin-left: 1.5em;
}
.project__section__right {
  width: 50%;
  border-radius: 10px;
}
.services__section {
  width: 100%;
  max-width: 1440px;
  padding: 0em 2em;
  margin: 0em auto;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services__section__left {
  width: 60%;
  height: 500px;
}
.services__section__left {
  display: flex;
  align-items: center;
}
.services__section__left__col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service__card {
  width: 80%;
  display: flex;
  align-items: center;
  background-color: #19203b;
  padding: 2.5em 2em;
  border-radius: 20px;
  color: $primary;
  margin-bottom: 1em;
}
.service__card svg {
  margin-right: 2em;
}
.service__card__heading {
  font-size: 18px;
  width: 50%;
  color: $light;
}
.service__card:first-child {
  border-top-right-radius: 0px;
}
.service__card:last-child {
  border-bottom-right-radius: 0px;
}
.service__card:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(25, 32, 59, 0.7);
}
.services__section__right {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services__section__right__sub__heading {
  color: $primary;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.services__section__right__sub__heading__bar {
  width: 30px;
  height: 2px;
  background-color: $primary;
  margin-right: 0.5em;
  border-radius: 50px;
}
.services__section__right__heading {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  color: $light;
  font-weight: 500;
  margin-bottom: 1em;
}
.services__section__right__info {
  color: $secondary;
  line-height: 25px;
}
.about__section {
  width: 100%;
  max-width: 1440px;
  padding: 0em 2em;
  margin: 0em auto;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__section__left {
  width: 40%;
}
.about__section__right {
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__section__right__box {
  padding: 1em;
  background-color: #19203b;
  border-radius: 20px;
  width: 48%;
  height: 180px;
  margin-bottom: 1.5em;
}
.about__section__right__box__img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.about__section__right__box:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(25, 32, 59, 0.7);
}
.portfolio__section__header {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0em auto;
  padding: 0em 2em;
  margin-bottom: 5em;
}
.portfolio__section__header__left,
.portfolio__section__header__right {
  width: 50%;
}
.portfolio__section__header__right {
  display: flex;
  align-items: flex-end;
}
.home__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0em 2em;
  margin: 0em auto;
  min-height: 600px;
}
.home__section__left {
  flex: 1;
}
.home__section__left__heading {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  color: $light;
  font-weight: 500;
  margin: 0.3em 0em;
  max-width: 400px;
}
.home__section__left__info {
  font-size: 18px;
  color: $secondary;
  margin-bottom: 5em;
}
.home__section__left__buttons__primary {
  background-color: $dark;
  color: $primary;
  border: 1px solid $primary;
  padding: 0.7em 1.8em;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 2em;
}
.home__section__left__buttons__primary:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
  color: $light;
}
.home__section__left__buttons__secondary {
  background-color: $dark;
  color: $primary;
  padding: 0.7em 0em;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 1em;
  position: relative;
}
.home__section__left__buttons__secondary::after {
  position: absolute;
  top: 32px;
  left: 0px;
  content: '';
  width: 0px;
  height: 2px;
  background-color: $primary;
}
.home__section__left__buttons__secondary:hover::after {
  transition: 500ms ease-in-out;
  width: 100%;
}
.home__section__right {
  position: relative;
  border-top-left-radius: 50px;
  height: 500px;
}
.home__section__right img {
  min-width: 100%;
  min-height: 100%;
  border-top-left-radius: 80px;
}
.home__section__right__play__button {
  position: absolute;
  bottom: -30px;
  left: -30px;
  background-color: rgba(235, 74, 74, 0.3);
  border: none;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em;
  border-radius: 50px;
  color: $primary;
  cursor: pointer;
}
.home__section__right__play__button svg {
  z-index: 5;
  width: 30px;
  height: 30px;
}
.home__section__right__play__button::after {
  position: absolute;
  content: '';
  width: 90px;
  height: 90px;
  background-color: rgba(235, 74, 74, 0.3);
  border-radius: 50px;
  z-index: 1;
}
.home__section__right__experience {
  position: absolute;
  bottom: -30px;
  right: -30px;
  background-color: rgba(25, 32, 59, 0.9);
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 10px;
}
.home__section__right__experience svg {
  margin-right: 1em;
  width: 30px;
  color: $primary;
  height: 30px;
}
.home__section__right__experience__content {
  display: flex;
  flex-direction: column;
}
.home__section__right__experience__content__heading {
  font-size: 16px;
  color: $secondary;
}
.home__section__right__experience__content__info {
  font-size: 18px;
  color: $light;
  display: flex;
  align-items: flex-end;
}
.home__section__right__experience__content__info span {
  font-size: 30px;
  margin-bottom: -0.2em;
  margin-right: 0.4em;
}
.home__section__right__experience__content__info::after {
  position: absolute;
  content: '';
  width: 120%;
  height: 120%;
  background-color: rgba(25, 32, 59, 0.7);
  border-radius: 10px;
  z-index: -1;
  left: -1em;
  bottom: -0.5em;
}
.home__section__overlay {
  position: absolute;
  left: -35px;
  display: flex;
  flex-direction: column;
  bottom: 40px;
}
.home__section__overlay__link {
  color: $secondary;
  margin-bottom: 1em;
}
.home__section__overlay__link svg {
  width: 25px;
  height: 25px;
}
.home__section__overlay__link:hover {
  transition: 300ms ease-in-out;
  color: $primary;
}
.testimonials__section {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 0em 1.5em;
}
.testimonials__section__content {
  margin-top: 2em;
  margin-bottom: 7em;
}
.testimonials__card {
  background-color: $dark;
  display: flex;
  flex-direction: column;
}
.testimonials__card__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}
.testimonials__card__header__box {
  width: 55px;
  height: 55px;
  margin-right: 1em;
  padding: 0.3em;
  border-radius: 10px;
  background-color: #19203b;
}
.testimonials__card__header__box__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.testimonials__card__header__content {
  display: flex;
  flex-direction: column;
}
.testimonials__card__header__content__heading {
  font-size: 18px;
  color: $secondary;
  font-weight: 500;
}
.testimonials__card__header__content__sub__heading {
  font-size: 14px;
  color: $primary;
  font-weight: 500;
}
.testimonials__card__header__info {
  font-size: 14px;
  color: $secondary;
  line-height: 25px;
  word-wrap: break-word;
}
.skills__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 0em 1.5em;
}
.skills__section__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  margin-right: -2em;
}
.skills__section__content__entry {
  width: 100%;
  max-width: 140px;
  background-color: #19203b;
  border-radius: 20px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  margin-right: 2em;
}
.skills__section__content__entry__img {
  width: 70%;
}
.skills__section__content__entry span {
  text-align: center;
  color: $light;
  font-size: 14px;
  margin-top: 1em;
}
.skills__section__content__entry:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(25, 32, 59, 0.7);
}
@media (max-width: 1100px) {
  .header__wrapper__menu {
    display: flex;
  }
  .header__wrapper__nav {
    transition: 300ms ease-in-out;
    position: absolute;
    bottom: -20px;
    background-color: $dark;
    left: 0px;
    z-index: 9999;
  }
  .header__wrapper__nav .header__wrapper__nav__bar {
    display: none;
  }
  .header__wrapper__nav .header__wrapper__nav__phone {
    display: none;
  }
  .services__section {
    flex-direction: column;
  }
  .services__section__left {
    min-height: 500px;
    width: 80%;
  }
  .services__section__right {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .portfolio__section__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .portfolio__section__right {
    margin-left: -1.5em;
    width: 100%;
  }
  .portfolio__section__right .portfolio__filters {
    justify-content: flex-start;
    margin-top: 1em;
  }
  .home__section {
    flex-direction: column;
  }
  .home__section__left {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home__section__right {
    height: 600px;
    width: 70%;
  }
  .home__section__right img {
    width: 100%;
    height: 100%;
  }
  .about__section__right {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .project__card {
    width: 48%;
    margin-bottom: 1em;
  }
  .services__section__left {
    width: 100%;
  }
  .services__section__right {
    width: 100%;
  }
  .portfolio__section__right .portfolio__filters {
    margin-left: 0em;
  }
  .home__section__right {
    height: 500px;
    margin-bottom: 7em;
  }
  .about__section {
    flex-direction: column;
    padding: 0em 1.5em;
  }
  .about__section__left {
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about__section__right {
    width: 80%;
    margin-bottom: 6em;
  }
}
@media (max-width: 800px) {
  .screen__header {
    flex-direction: column;
  }
  .portfolio__filters {
    margin-top: 2em;
    justify-content: flex-start;
    margin-left: -1.5em;
  }
  .contact__section {
    flex-direction: column-reverse;
  }
  .contact__section__left,
  .contact__section__right {
    width: 100%;
  }
  .contact__section__right {
    margin-bottom: 5em;
  }
  .screen__header {
    margin-bottom: 7em;
  }
  .project__section {
    flex-direction: column-reverse;
  }
  .project__section__left,
  .project__section__right {
    width: 100%;
  }
  .project__section__right {
    margin-bottom: 5em;
  }
  .services__section {
    height: fit-content;
    padding: 5em 1.5em;
  }
  .services__section__left {
    flex-direction: column;
    align-items: center;
    min-height: 800px;
  }
  .services__section__left__col {
    width: 100%;
    height: fit-content;
  }
  .service__card {
    width: 100%;
    margin-bottom: 2em;
  }
  .portfolio__section__right .portfolio__filters {
    margin-left: -0.5em;
  }
  .home__section__right {
    height: 500px;
    width: 90%;
  }
  .about__section__right {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .header__wrapper__logo div {
    display: none;
  }
  .header__wrapper__menu .header__wrapper__nav__bar {
    display: none;
  }
  .header__wrapper__menu .header__wrapper__nav__phone {
    display: none;
  }
  .header__wrapper__nav {
    bottom: -180px;
    flex-direction: column;
    width: 100%;
  }
  .header__wrapper__nav__link {
    width: 100%;
    margin-left: 1em;
  }
  .header__wrapper__nav .header__wrapper__nav__phone {
    position: absolute;
    top: 0.5em;
    right: 2em;
    display: flex;
    z-index: 2;
  }
  .footer__top {
    align-items: flex-start;
  }
  .footer__wrapper__nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__wrapper__nav__link {
    margin-right: 0em;
    margin-bottom: 1em;
  }
  .screen__header__name {
    font-size: 35px;
  }
  .portfolio__filters {
    flex-direction: column;
  }
  .project__card {
    width: 100%;
    margin-right: 1em;
  }
  .home__section__right {
    height: 350px;
  }
  .home__section__left__heading {
    font-size: 35px;
  }
  .about__section__right {
    margin-top: 4em;
  }
  .about__section__left .services__section__right__info {
    margin-bottom: 2em;
  }
  .about__section__right__box {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .header__wrapper__nav .header__wrapper__nav__phone {
    display: none;
  }
  .home__section__left__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__section__left__buttons__primary {
    width: fit-content;
    margin-right: 0em;
    margin-top: -2em;
  }
  .home__section__left__buttons__secondary {
    margin-right: 0em;
    margin-top: 1em;
  }
  .services__section__right__sub__heading {
    font-size: 14px;
  }
  .home__section__left__heading {
    font-size: 30px;
    text-align: center;
  }
  .home__section__left__info {
    text-align: center;
  }
  .home__section__right {
    height: 280px;
  }
  .about__section__left {
    height: 700px;
  }
  .skills__section__content__entry {
    max-width: 40%;
  }
}
